<template>
  <div>
    <h1>Create an event, {{ user.name }}</h1>
    <p>This event was created by {{ user.id }}</p>
    <p>{{ getEventById(2) }}</p>

    <p>There are {{ catLength }} categories:</p>
    <ul>
      <li v-for="cat in categories" :key="cat">{{ cat }}</li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["getEventById"]),
    ...mapState(["user", "categories"]),
  },
  // computed: mapState({
  //   userName: state => state.user.name,
  //   categories: 'categories' // <-- simplified syntax for top-level State
  // })
};
</script>

<style lang="scss" scoped></style>
